@{
    ViewBag.Title = "Role List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section headSection{
    <style type="text/css">
    </style>
   
    <script type="text/javascript">
        $(function () {
            $.globalHelper.datagridPara.init("/admin/Role/Index", [@Html.GetButtonsForToolbar()],
                [[
                { field: 'roleName', title: 'Role Name', width: 100 },
                {
                    field: 'roleAddTime', title: 'Created DateTime', width: 100, formatter: function (colData) {
                        return $.globalHelper.changeDateFormat(colData);
                    }
                }
            ]]);

            $("#tbList").datagrid($.globalHelper.datagridPara.paras);
        });

        @*根据当前登录用户 Session里 权限集合 的按钮，决定是否显示对应的按钮方法*@
        @if (Html.IsButtonExist("add"))
        {
        <text>
            function add()
            {
                $.globalHelper.showCommonWindow("Add new Role","/admin/Role/add",450,560);
            }
        </text>
        }
        @if (Html.IsButtonExist("setRolePermission"))
        {
            <text>
        function setRolePermission()//设置子权限
        {
            ifSelected(function (perData) {
                $.globalHelper.showCommonWindow("Set \"" + perData.roleName + "\" Permissions", "/admin/role/SetRolePermission/" + perData.roleID, 350, 580);
            })
        }
        </text>
        }
        @if (Html.IsButtonExist("remove"))
        {
            <text>
            function remove()
            {
            }
            </text>
        }
        @if (Html.IsButtonExist("modify"))
        {
            <text>
            function modify()
            {
                ifSelected(function (selectedRowData) {
                    $.globalHelper.showCommonWindow("Modify [" + selectedRowData.roleName + "] role", "/admin/role/modify/" + selectedRowData.roleID, 450, 560);
                })
            }
            </text>
        }

    //统一判断 是否有选中行，如果有，则调用回调函数（func），并传入 选中行的数据
    function ifSelected(func)
    {
        //获取选中行的数据
        var selectedRowData = $("#tbList").datagrid("getSelected");
        if (selectedRowData) {
            if (func && func instanceof Function)
            {
                func(selectedRowData);//调用回调函数，并传入 选中行的数据
            }
        } else {
            // $.msgBoxObj.showInfo("请选中要操作的行 ~~~");
            $.messager.alert("Warning", "Please select one row.", "tip");
        }
    }
    </script>
}
<table id="tbList"></table>
