@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section headSection{
    <style type="text/css">
    </style>
    <script type="text/javascript">
        $(function () {
            $.globalHelper.datagridPara.init("/admin/permission/Index/@ViewBag.pid", [@Html.GetButtonsForToolbar()], [[

                { field: 'permissionName', title: 'Permission Name', width: 100 },
                { field: 'permissionAreaName', title: 'Area Name', width: 100 },
                { field: 'permissionControllerName', title: 'Controller Name', width: 100 },
                { field: 'permissionActionName', title: 'Action Name', width: 100 },
                {
                    field: 'permissionFormMethod', title: 'Request Method', width: 50, formatter: function (colData) {
                        switch (colData) {
                            case 1:
                                return "GET";
                            case 2:
                                return "POST";
                            case 3:
                                return "GET/POST";
                        }
                    }
                },
                {
                    field: 'permissionIsShow', title: 'Is Menu Tree Node', width: 40, formatter: function (colData) {
                        return colData ? "√" : "X";
                    }
                },
                {
                    field: 'permissionOperationType', title: 'Operation Type', width: 50, formatter: function (colData) {
                        switch (colData) {
                            case 1:
                                return "MENU";
                            case 2:
                                return "BUTTON";
                            case 3:
                                return "AJAX";
                        }
                    }
                },
                { field: 'permissionOrder', title: 'Order Number', width: 50 }
            ]]);

            $("#tbList").datagrid($.globalHelper.datagridPara.paras);
        });

        @if (Html.IsButtonExist("add"))
        {
            <text>
        function add() {
            $.globalHelper.showCommonWindow("Add new permission", "/admin/permission/add", 450, 560);
        }
        </text>
        }
        
        @if (Html.IsButtonExist("remove"))
        {
            <text>
        function remove() {
        }
        </text>
        }
        @if (Html.IsButtonExist("modify"))
        {
    <text>
        function modify() {
            ifSelected(function (selectedRowData) {
                $.globalHelper.showCommonWindow("Modify [" + selectedRowData.permissionName + "]", "/admin/permission/modify/" + selectedRowData.permissionID, 450, 560);
            })
        }
        </text>
        }

        function ifSelected(func) {
            var selectedRowData = $("#tbList").datagrid("getSelected");
            if (selectedRowData) {
                if (func && func instanceof Function) {
                    func(selectedRowData);
                }
            } else {
                $.messager.alert("Alert", "Please select a row first.");
                
            }
        }
    </script>
}
<table id="tbList"></table>
