<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="sendEmailFrom" value="testing@test.com" />
  </appSettings>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/EMPDemoModel.csdl|res://*/EMPDemoModel.ssdl|res://*/EMPDemoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Simon8029CRMDemo;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.net>
    <mailSettings>
      <smtp from="test@gmail.com">
        <network host="smtp.gmail.com" port="465" password="password" userName="test@gmail.com" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>