<!DOCTYPE html>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section headSection
{
    <script type="text/javascript">
        $(function () {
            $.globalHelper.datagridPara.init("/EmailMarketing/leads/index/1", [@Html.GetButtonsForToolbar()], [
                [
                    { field: 'LeadID', title: 'LeadID', width: 10 },
                    { field: 'FirstName', title: 'FirstName', width: 10 },
                    { field: 'LastName', title: 'LastName', width: 10 },
                    { field: 'EmailAddress', title: 'EmailAddress', width: 10 },
                    { field: 'IsValid', title: 'IsValid', width: 10 },
                    { field: 'Unsubscribed', title: 'Unsubscribed', width: 10 }
                ]
            ]);

            $("#tbList").datagrid($.globalHelper.datagridPara.paras);
        });


        @*根据当前登录用户 Session里 权限集合 的按钮，决定是否显示对应的按钮方法*@
        @if (Html.IsButtonExist("add"))
        {
            <text>
        function add() {
            $.globalHelper.showCommonWindow("Add new Lead", "/emailmarketing/leads/add", 450, 560);
        }
        </text>
        }

        @if (Html.IsButtonExist("remove"))
    {
        <text>
        function remove() {
        }
        </text>
    }
        @if (Html.IsButtonExist("modify"))
    {
        <text>
        function modify() {
            ifSelected(function (selectedRowData) {
                $.globalHelper.showCommonWindow("Modify [" + selectedRowData.permissionName + "]", "/emailmarketing/leads/modify/" + selectedRowData.LeadID, 450, 560);
            })
        }
        </text>
    }

        //统一判断 是否有选中行，如果有，则调用回到函数（func），并传入 选中行的数据
        function ifSelected(func) {
            //获取选中行的数据
            var selectedRowData = $("#tbList").datagrid("getSelected");
            if (selectedRowData) {
                if (func && func instanceof Function) {
                    func(selectedRowData);//调用回调函数，并传入 选中行的数据
                }
            } else {
                $.messager.alert("Alert", "Please select a row first.");
            }
        }

    </script>
}

<table id="tbList"></table>

