@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section headSection
{
    <script type="text/javascript">
        $(function () {
            $.globalHelper.datagridPara.init("/EmailMarketing/Reports/index/1", [@Html.GetButtonsForToolbar()], [
                    [
                        { field: 'CampaignID', title: 'Campaign ID', width: 3 },
                        { field: 'CampaignName', title: 'CAmpaign Name', width: 10 },
                        { field: 'CampaignDesc', title: 'Campaign Description', width: 10 },
                        {
                            field: 'StartDate', title: 'Start Date', width: 10, formatter: function (colData) {
                                return $.globalHelper.changeDateFormat(colData);
                            }
                        },
                        {
                            field: 'EndDate', title: 'End Date', width: 10, formatter: function (colData) {
                                return $.globalHelper.changeDateFormat(colData);
                            }
                        }
                    ]
            ]);

            $("#tbList").datagrid($.globalHelper.datagridPara.paras);
        });

        @if (Html.IsButtonExist("ShowChart"))
        {
        <text>
        function ShowChart() {
            ifSelected(function (selectedRowData) {
                $.globalHelper.showCommonWindow("Campaign Name: " + selectedRowData.CampaignName ,"/emailmarketing/Reports/ShowChart/" + selectedRowData.CampaignID, 700, 560);
            })
        }
        </text>
        }

        function ifSelected(func) {
            var selectedRowData = $("#tbList").datagrid("getSelected");
            if (selectedRowData) {
                if (func && func instanceof Function) {
                    func(selectedRowData);
                }
            } else {
                $.messager.alert("Alert", "Please select a row first.");
            }
        }

    </script>
}

<table id="tbList"></table>

