@{
    ViewBag.Title = "ShowChart";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@*@model Simon8029.EMPDemo.WebApp.Areas.EmailMarketing.Models.ReportViewModel*@
@model DotNet.Highcharts.Highcharts
<script src="~/Scripts/Highcharts-4.0.1/js/highcharts.js"></script>

<h2>Email Tracking</h2>
@(Model)