<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/easyUIThemes/icon.css" rel="stylesheet" />
    <link href="~/Content/easyUIThemes/default/easyui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script type="text/javascript">
        $(function () {
            // init tab container
            $("#tabBox").tabs();
            // init common window
            $("#commonWindow").window({
                iconCls: 'icon-tip',
                modal: true,
                minimizable: false,
                resizable: false,
                width: 1200,
                height: 550,
                title: 'Common window',
                closed: true
            }).children("iframe").load(function () { // find iframe within common window, regist close progress method for onload method
                $.messager.progress("close");
            });

            //3. init menu tree
            $("#menuTree").tree({
                url: "/admin/manage/getmenutree",
                onLoadSuccess: function (node, jsonData) {
                    //if response message object has status property, then it is json message. call msgProcess method.
                    //otherwise it is a json node.
                    if (jsonData.Status) {
                        $.messageProcess(jsonData);
                    }
                },
                onClick: nodeClick
            });
        });

        function nodeClick(nodeData) {
            if (nodeData.attributes.isLink) {
                if (!$("#tabBox").tabs("exists", nodeData.text)) {
                    $("#tabBox").tabs("add", {
                        title: nodeData.text,
                        closable: true,
                        content: createContent(nodeData.attributes.url)
                    });
                } else {
                   
                    var $curTab = $('#tabBox').tabs('getSelected');
                    var curTabTitle = $curTab.panel("options").title;
                    if (nodeData.text == curTabTitle) {
                        $.messager.confirm('Confirm', "Refresh \"" + curTabTitle + "\" ?", function (isOk) {
                            if (isOk) {
                                var $ifrObj = $("iframe", $curTab);
                                $ifrObj.attr("src", nodeData.attributes.url);
                            }
                        });
                    }
                    else {
                        $("#tabBox").tabs("select", nodeData.text);
                    }
                }
            }
        }

        function createContent(url) {
            return "<iframe src='" + url + "' style='border:0px solid #000;width:100%;height:700px;'></iframe>";
        }
    </script>



</head>
<body class="easyui-layout">
    <div data-options="region:'north'" style="height: 100px; ">
        <table style="width:100%">
            <tr>
                <td width="80%" valign="bottom" style="font-size: 58px; vertical-align: bottom; line-height: 88px; padding-left: 80px">
                    Welcome to Simon's Demo
                </td>
                <td width="20%" valign="bottom"> Hello, <span class="username">@Html.ViewBag.CurrentUserName</span>!</td>
            </tr>
        </table>
    </div>
    <div data-options="region:'west',split:true" title="Navigation Menu" style="width: 300px;">
        <ul id="menuTree"></ul>
    </div>
<div data-options="region:'center'">
    <div id="tabBox"></div>
</div>
<div id="commonWindow">
    <iframe style="width: 99.9%; height: 99.4%; border: 0px;"></iframe>
</div>

</body>
</html>